version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres_dev
    restart: always
    environment:
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: laravel
      POSTGRES_DB: laravel
    ports:
      - "5432:5432"
    volumes:
      - laravel_pgdata:/var/lib/postgresql/data

volumes:
  laravel_pgdata:
